In [1]:
Names = ['Malik','Dave','Travis','Casey','Jacques']
Age = (20,23,25,17,26)
Height = [5.11, 5.10, 5.9, 5.4, 5.8]

In [3]:
tab = {'Names':Names, 'Age':Age, 'Height':Height}

In [4]:
tab

{'Names': ['Malik', 'Dave', 'Travis', 'Casey', 'Jacques'],
 'Age': (20, 23, 25, 17, 26),
 'Height': [5.11, 5.1, 5.9, 5.4, 5.8]}

In [6]:
Age

(20, 23, 25, 17, 26)

In [7]:
tab['Names']

['Malik', 'Dave', 'Travis', 'Casey', 'Jacques']

In [8]:
import pandas as pd

In [9]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [10]:
table = pd.DataFrame?

In [13]:
table = pd.DataFrame

In [14]:
table = pd.DataFrame(tab)

In [15]:
def add(a,b):
    return a+b

In [16]:
add(4,5)

9

In [18]:
def add(e,g,f):
    return (e+g)-f

In [19]:
add (5,4,2)

7

In [20]:
def add(a,b):
    '''
    This function adds two numbers: e.g add(3,2), the answer is 5 
    '''
    return (a+b)

In [22]:
math.pi

3.141592653589793

In [24]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [30]:
def circumference(r):
    return (2*math.pi*r)

In [31]:
circumference(30)

188.49555921538757

In [38]:
x=5
if x==5:
    print('x is equal to 5')

elif x>5:
    print('this is not x')

else:
    print('who knows')

x is equal to 5

In [42]:
def maximum(a,b,c):
    if a>b and b>c:
        return a 
    elif b>a and b>c:
        return b 
    elif c>a and c>b:
        return c 
    else:
        return 'They are all equal'
    '''
    To find the maximum of three numbers with a function
    '''

In [41]:
maximum(5,5,5)

'They are all equal'

In [44]:
def sum(x):
    total = 0 
    for i in x:
        total = total + i 
    return total 
'''
function to add multiple numbers together using for loop 
'''

In [45]:
sum([1,2,3,4,5,6])

21

In [46]:
def sum(x):
    total = 0 
    for i in x:
        total  += i 
    return total

In [50]:
def multiply(x):
    total = 1
    for i in x:
        total = total * i 
    return total 
'''
function to multiply multiple numbers together using for loop 
'''

In [49]:
multiply([1,2,3,4,5,6])

720